<% div_for post do%>
  <h2><%= link_to_unless_current h(post.title), post%></h2>
  
  <div id="<%= "#{dom_id(post)}_body" %>" data-edit-path="<%= edit_post_path(post) %>">
	<%= simple_format (post.body) %>
	</div>
	
<% end %>


<% content_for :javascript do %>

  <% javascript_tag do %>  
  $(function()
  {

    $('[data-edit-path]').each(function() { $(this).append('<%= link_to "Edit Inline", "#", "data-remote" => "true" %>'.replace("#",$(this).attr('data-edit-path'))) });

      
  });
  <% end %>
  
<% end %>